TABLE_NAME=

AWS_REGION=

ASSETS_BUCKET=

USER_TABLE=
STUDY_TABLE=
SOCIAL_TABLE=
QUEST_TABLE=
MINIGAME_TABLE=
ITEMDATA_TABLE=
INVENTORY_TABLE=
GACHAHISTORY_TABLE=

DEFAULT_AVATAR_URL=

COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
USER_POOL_NAME=

INVENTORY_TYPES=

ALGOLIA_APP_ID=
ALGOLIA_WRITE_KEY=
ALGOLIA_USER_INDEX=
USER_TABLE_STREAM_ARN=

VERSION=